/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-5-9, 2:48:29
    Author     : Administrator
*/

.jp-pause,
.jp-unmute
{
  display: none;
}

.jp-container {
  border: 1px solid #F6F6F2;
  padding: 0 20px;
  margin-bottom: 1em;
  position: relative;
  background-color: #F6F6F2;
}

.jp-container ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
}

.jp-container li {
  float: left;
margin-right: 1em;
}

.jp-container ul span {
    color: #A0A600;
}

.jp-container .field__label {
  position: absolute;
  top: 1em;
  right: 20px;
}