{{ attach_library('jplink/jplayer.stream') }}

<!-- jplayer -->
<div id="jquery_jplayer_{{id}}"></div>
<div id="jp_container_{{id}}">
 <a href="#" class="jp-play">{{ "Play"|trans }}</a>
 <a href="#" class="jp-pause">{{ "Pause"|trans }}</a>
</div>
<!-- //jplayer -->

{% if debug %}
{{ attach_library('jplink/jplayer.inspector') }}
<div id="jplayer_inspector_{{id}}"></div>
{% endif %}
