{{ attach_library('jplink/jplayer.playlist') }}

<div class="field jplink-field">


  <div class="field__item">
    <!-- jplayer -->
    <div id="jquery_jplayer_{{id}}"></div>
    <div id="jp_container_{{id}}" class="jp-container">
      {% if label %}
        <div class="field__label">{{ label }}</div>
      {% endif %}

      <ul>
        <li><a href="#" class="jp-play">{{ "Play"|trans }}</a></li>
        <li><a href="#" class="jp-pause">{{ "Pause"|trans }}</a></li>
        <li><a href="#" class="jp-stop">{{ "Stop"|trans }}</a></li>
      </ul>
      <ul>
        <li>{{ "Volume"|trans }} :</li>
        <li><a href="#" class="jp-mute">{{ "Mute"|trans }}</a></li>
        <li><a href="#" class="jp-unmute">{{ "Unmute"|trans }}</a></li>
        <li><a class="jp-volume-bar" href="#">|&lt;----------&gt;|</a></li>
        <li><a href="#" class="jp-volume-max">{{ "Max"|trans }}</a></li>
      </ul>

      <div class="jp-playlist">
        <ul>
          <li></li> <!-- Empty <li> so your HTML conforms with the W3C spec -->
        </ul>
      </div>

      {% if debug %}
        {{ attach_library('jplink/jplayer.inspector') }}
        <div id="jplayer_inspector_{{id}}"></div>
      {% endif %}

    </div>
    <!-- //jplayer -->
  </div>
</div>
